<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @student_service.section_content %>
</p>

<%= link_to 'Edit', edit_student_service_path(@student_service) %> |
<%= link_to 'Back', student_services_path %>
