<% @page_header = "UNM #{catalog_year.name} Catalog" %>
<% @page_title = "UNM #{catalog_year.name} Catalog" %>

<div>
  <h4><%= simple_format catalog_year.homepage_header %></h4>
  <p><%= simple_format catalog_year.homepage_text %></p>
</div>
