<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @degree.section_content %>
</p>

<%= link_to 'Edit', edit_degree_path(@degree) %> |
<%= link_to 'Back', degrees_path %>
