<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @undergraduate_program.section_content %>
</p>

<%= link_to 'Edit', edit_undergraduate_program_path(@undergraduate_program) %> |
<%= link_to 'Back', undergraduate_programs_path %>
