<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @undergraduate_advisement.section_content %>
</p>

<%= link_to 'Edit', edit_undergraduate_advisement_path(@undergraduate_advisement) %> |
<%= link_to 'Back', undergraduate_advisements_path %>
