<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @college.section_content %>
</p>

<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
