<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @graduate_program.section_content %>
</p>

<%= link_to 'Edit', edit_graduate_program_path(@graduate_program) %> |
<%= link_to 'Back', graduate_programs_path %>
