<p id="notice"><%= notice %></p>

<div class="section">
  <%= simple_format(@administration.section_content) %>
</div>

<%= link_to 'Edit', edit_year_administration_path(@year, @administration) %> |
<%= link_to 'Back', year_administrations_path %>
