<p id="notice"><%= notice %></p>

<p>
  <strong>Section content:</strong>
  <%= @extended_learning.section_content %>
</p>

<%= link_to 'Edit', edit_extended_learning_path(@extended_learning) %> |
<%= link_to 'Back', extended_learnings_path %>
