<% @page_title = "Policies" %>
<% @page_header = "Policies" %>

<% @policies.each do |p| %>
  <div class="section">
    <h4 class="section-header">
      <%= p.section_header %>
    </h4>
    <div class="section-text">
      <%= simple_format(p.section_text) %>
    </div>
    <hr><br>
</div>
<% end %>
